*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-10,
.col-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    flex: 1 1 8.3333%;
}

.col-2 {
    flex: 1 1 16.6666%;
}

.col-3 {
    flex: 1 1 25%;
}

.col-4 {
    flex: 1 1 33.3333%;
}

.col-5 {
    flex: 1 1 41.6666%;
}

.col-6 {
    flex: 1 1 50%;
}

.col-10 {
    flex: 1 1 83.3334%;
}

.col-12 {
    flex: 1 1 100%;
}

nav {
    margin-top: 44px;
    margin-bottom: 26px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: bold;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

nav a {
    font-weight: bold;
    font-size: 14px;
    margin-left: 27px;
    text-transform: uppercase;
    color: black;
}

.logo {
    margin: 33px 0px 67px 0px;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    margin: 20px 0px;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin: 45px 0px;
}

p {
    font-size: 16px;
    margin: 25px 0px;
}

.button {
    background-color: #ff1744;
    color: white;
    font-weight: bold;
    text-align: center;
    
}

.buy {
    margin-top: 25px;
    padding: 17px 50px;
    border: none;
}

span.first {
    background-image: url('./images/product_rectangle.png');
    background-size: 100% 100%;
    color: #ff1744;
    padding-right: 18px;
    padding-left: 5px;
    z-index: 1;
}

span.second {
    margin-left: -8px;
}

.slider {
    background-color: #f3dde1; 
    min-height: 550px;
}

.rectangle_parent {
    /* position: relative; */
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}
.background {
    position: absolute;
    background-image: url('./images/slider_rectangle_background.png') top left;
    min-height: 100%;
    min-width: 100%;
    margin: -30px 0px 0px -300px;

    z-index: 3;
}

.top_rectangle {

    position: relative;
    left: 112px;
    /* top: -30px; */
    margin-top: -30px;
}

/* .rectangle_parent {
    position: relative;
    z-index: 100;
} */

/* img.top_rectangle {
    position: absolute;
    margin-right: 116px;
    margin-top: -26px;
    right: -116px;
    top: -26px;
    z-index: 1;
} */

.slider_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.slider_right_article {
    margin: 138px 82px 138px 82px;
}

div.product_features {
    text-align: center;
    min-height: 605px;
}

h2.product_features {
    margin: 90px auto;
}

div.product_details {
    background-color: #f2f2f2;
    min-height: 667px;
}

p.bold {
    font-weight: bold;
    text-transform: uppercase;
}

p.red {
    color: #ff1744;
    font-size: 14px;
}

p.tesis {
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 0px;
}

li {
    font-size: 14px;
    line-height: 25px;
    padding: 3px 0;
}

.product_details_headline {
    margin: 130px 0px;
}

.product_benefits {
    min-height: 777px;
}

.product_benefits_headline {
    margin: 150px 0px;
}

.our_new_products {
    background-color: #f2f2f2;
    min-height: 695px;
    text-align: center;
}

.without_margin {
    margin: 0;
}

.our_new_products_title {
    margin-top: 105px;
    margin-bottom: 50px;
}

.our_new_products_headline {
    margin-bottom: 100px;
}

.our_client_reviews_headline {
    text-align: center;
}


p.name,
p.position {
    margin: 5px;
}

p.name {
    text-transform: capitalize;
    font-weight: bold;
}

.arrow_left {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.arrow_right {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.we_are_featured_on_companies_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.reviewer_selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_and_text {
    text-align: center;
    margin-bottom: 100px;
}

.reviewer_avatar {
    margin: 30px 62px;
}

.we_are_featured_on_headline{
    margin-top: 100px;
    margin-bottom: 35px;
    text-align: center;
}

.we_are_featured_on_companies_list img {
    max-width: 100%;
    margin-top: 35px;
    margin-bottom: 100px;
}

.we_are_featured_on {
    background-color: #f2f2f2;
}

.subscribe_our_newsletter_headline {
    text-align: center;
    margin-top: 100px;
}

.subscribe_our_newsletter_form {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 100px;
}

.subscribe {
    border: 1px solid #ebebeb;
    position: relative;
    left: -3px;
    padding: 16px;
}

.subscribe_our_newsletter_form input {
    margin: 0;
    padding: 0;
    height: 52px;
    border: 1px solid #ebebeb;
    min-width: 300px;
    position: relative;
    right: -2px;
}

.no_focus_outline:focus {
    outline: none;
}

.get_in_touch {
    min-height: 550px;
    background-color: #f3dde1;
}

.social {
    margin: 180px 97px 150px 97px;
}

.social_icon {
    display: inline-block;
    font-size: 30px;
    border: solid 1px white;
    color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.social_icon:hover {
    color: #f2f2f2;
    border-color: #f2f2f2;
}

.small_p {
    font-size: 14px;
}

.get_in_touch_headline {
    margin: 170px 67px 145px 180px;
}

.get_in_touch_block {
    display: flex;
    flex-flow: column;
}

.get_in_touch_icons {
    font-size: 30px;
    margin-right: 18px;
    min-width: 30px;
}

.get_in_touch_block > div {
    display: flex;
    padding: 10px 0;
}

.get_in_touch_block a,
.get_in_touch_block address {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-style: normal;
}

.footer_article {
    margin: 47px 97px;
}